

/* ==========================================================================
    01. GOOGLE FONTS
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

/* ==========================================================================
    02. DEFAULT CSS
========================================================================== */


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

html,
body {
    color: #79819A;
    font-family: 'Outfit', sans-serif;
    line-height: 170%;
    background-color: #FFF;
}
.division-menu{
    cursor: default!important;
}
.layout-fixed {
    padding-right: 17px;
}

.mb-7, .my-7 {
    margin-bottom: 5rem!important;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #2E2E48;
    padding: 0.2em 0;
}

a {
    display: inline-block;
    -webkit-transition: .25s;
    transition: .25s;
}

a:hover,
a:active {
    text-decoration: none;
    outline: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

/* ==========================================================================
   03. COMMON CSS
========================================================================== */

.wrapper {
    padding: 100px 0;
}

.overlay{
    position: relative;
    z-index: 1;
}

.overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #2E2E48;
    z-index: -1;
    opacity: .6;
}

.vegas-overlay {
    background: transparent;
    opacity: .7;
}

.landing_wrapper {
    height: 100vh!important;
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text_no_select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section_title {
    font-size: 30px;
    position: relative;
    display: inline-block;
    z-index: 1;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.13px;
    color: #2E2E48;
    margin-bottom: 24px;
}


.button {
    padding: 8px 25px 0 25px;
    background-color: #516CF7;
    margin-top: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: 15px;
    font-weight: 600;
    border-radius:50px;
}

.button::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    background-color: #9251F7;
    top: 0;
    right: 0;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: -1;
    color: #fff;
}

.button:hover::after {
    width: 100%;
    top: 0;
    right: auto;
    left: 0;
}

.button:hover {
    color: #fff;}

/* ==========================================================================
   04. LANDING WRAPPER
========================================================================== */

/* -- PRELOADER start */

#preloader{width:100%;height:100vh;overflow:hidden;position:fixed;z-index:99999999;display:flex}#preloader::before,#preloader::after{position:absolute;content:"";width:100%;height:50%;background:#fff;top:0;left:0;transition:.4s;-webkit-transition:.4s;-moz-transition:.4s;-ms-transition:.4s;-o-transition:.4s}#preloader::after{top:auto;bottom:0}#preloader.loaded::before,#preloader.loaded::after{height:0%}.scroll-static{position:relative;width:50%;height:1px;overflow:hidden;margin:auto;transition:all .8s;-webkit-transition:all .8s;-moz-transition:all .8s;-ms-transition:all .8s;-o-transition:all .8s;z-index:555}.scroll-static::before{position:absolute;content:"";width:0;height:100%;left:50%;background:#2E2E48;animation:showLine 700ms ease-in-out 0s forwards;-o-animation:showLine 700ms ease-in-out 0s forwards;-webkit-animation:showLine 700ms ease-in-out 0s forwards;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%)}@keyframes showLine{0%{width:0;opacity:0}100%{width:100%;opacity:1}}@-o-keyframes showLine{0%{width:0;opacity:0}100%{width:100%;opacity:1}}@-webkit-keyframes showLine{0%{width:0;opacity:0}100%{width:100%;opacity:1}}.scroll-static::after{position:absolute;content:"";width:100%;height:100%;left:-100px;top:0;animation:scroll-static 2s cubic-bezier(.86,0,.07,1) infinite;-o-animation:scroll-static 2s cubic-bezier(.86,0,.07,1) infinite;-webkit-animation:scroll-static 2s cubic-bezier(.86,0,.07,1) infinite;animation-delay:1200ms}@keyframes scroll-static{0%{left:-100%;background:#fff}100%{left:100%;background:#fff}}@-o-keyframes scroll-static{0%{left:-100%;background:#fff}100%{left:100%;background:#fff}}@-webkit-keyframes scroll-static{0%{left:-100%;background:#fff}100%{left:100%;background:#fff}}.scroll-static.loaded{width:100%;opacity:0}.scroll-static.loaded::after{opacity:0}
.work-loader{color:#79819A;font-size:8px;margin:auto;width:1em;height:1em;border-radius:50%;position:relative;text-indent:-9999em;-webkit-animation:load4 1.3s infinite linear;animation:load4 1.3s infinite linear;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}@-webkit-keyframes load4{0%,100%{box-shadow:0 -3em 0 .2em,2em -2em 0 0em,3em 0 0 -1em,2em 2em 0 -1em,0 3em 0 -1em,-2em 2em 0 -1em,-3em 0 0 -1em,-2em -2em 0 0}12.5%{box-shadow:0 -3em 0 0,2em -2em 0 .2em,3em 0 0 0,2em 2em 0 -1em,0 3em 0 -1em,-2em 2em 0 -1em,-3em 0 0 -1em,-2em -2em 0 -1em}25%{box-shadow:0 -3em 0 -.5em,2em -2em 0 0,3em 0 0 .2em,2em 2em 0 0,0 3em 0 -1em,-2em 2em 0 -1em,-3em 0 0 -1em,-2em -2em 0 -1em}37.5%{box-shadow:0 -3em 0 -1em,2em -2em 0 -1em,3em 0em 0 0,2em 2em 0 .2em,0 3em 0 0em,-2em 2em 0 -1em,-3em 0em 0 -1em,-2em -2em 0 -1em}50%{box-shadow:0 -3em 0 -1em,2em -2em 0 -1em,3em 0 0 -1em,2em 2em 0 0em,0 3em 0 .2em,-2em 2em 0 0,-3em 0em 0 -1em,-2em -2em 0 -1em}62.5%{box-shadow:0 -3em 0 -1em,2em -2em 0 -1em,3em 0 0 -1em,2em 2em 0 -1em,0 3em 0 0,-2em 2em 0 .2em,-3em 0 0 0,-2em -2em 0 -1em}75%{box-shadow:0em -3em 0 -1em,2em -2em 0 -1em,3em 0em 0 -1em,2em 2em 0 -1em,0 3em 0 -1em,-2em 2em 0 0,-3em 0em 0 .2em,-2em -2em 0 0}87.5%{box-shadow:0em -3em 0 0,2em -2em 0 -1em,3em 0 0 -1em,2em 2em 0 -1em,0 3em 0 -1em,-2em 2em 0 0,-3em 0em 0 0,-2em -2em 0 .2em}}@keyframes load4{0%,100%{box-shadow:0 -3em 0 .2em,2em -2em 0 0em,3em 0 0 -1em,2em 2em 0 -1em,0 3em 0 -1em,-2em 2em 0 -1em,-3em 0 0 -1em,-2em -2em 0 0}12.5%{box-shadow:0 -3em 0 0,2em -2em 0 .2em,3em 0 0 0,2em 2em 0 -1em,0 3em 0 -1em,-2em 2em 0 -1em,-3em 0 0 -1em,-2em -2em 0 -1em}25%{box-shadow:0 -3em 0 -.5em,2em -2em 0 0,3em 0 0 .2em,2em 2em 0 0,0 3em 0 -1em,-2em 2em 0 -1em,-3em 0 0 -1em,-2em -2em 0 -1em}37.5%{box-shadow:0 -3em 0 -1em,2em -2em 0 -1em,3em 0em 0 0,2em 2em 0 .2em,0 3em 0 0em,-2em 2em 0 -1em,-3em 0em 0 -1em,-2em -2em 0 -1em}50%{box-shadow:0 -3em 0 -1em,2em -2em 0 -1em,3em 0 0 -1em,2em 2em 0 0em,0 3em 0 .2em,-2em 2em 0 0,-3em 0em 0 -1em,-2em -2em 0 -1em}62.5%{box-shadow:0 -3em 0 -1em,2em -2em 0 -1em,3em 0 0 -1em,2em 2em 0 -1em,0 3em 0 0,-2em 2em 0 .2em,-3em 0 0 0,-2em -2em 0 -1em}75%{box-shadow:0em -3em 0 -1em,2em -2em 0 -1em,3em 0em 0 -1em,2em 2em 0 -1em,0 3em 0 -1em,-2em 2em 0 0,-3em 0em 0 .2em,-2em -2em 0 0}87.5%{box-shadow:0em -3em 0 0,2em -2em 0 -1em,3em 0 0 -1em,2em 2em 0 -1em,0 3em 0 -1em,-2em 2em 0 0,-3em 0em 0 0,-2em -2em 0 .2em}}

/* PRELOADER end */

/* HEADER STYLE start */

header {
    height: 85px;
    width: 100%;
    position: fixed;
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.layout-fixed header {
    width: calc(100% - 17px);
}

.header_fixed {
    background-color: #f6f9fce6;
}

.header_bg {
    background-color: #fff;
}

.logo a {
    color: #2E2E48;
    font-family: 'Iceland', Arial;
    font-size: 2.3em;

}

.porftolio_menu{
    font-weight: 600;
}
.portfolio-logo {
    color: #2E2E48;

}
 .button.slide-vertical .char:after, .button.slide-vertical .char:before {
    color: #fff;

}
.portfolio-logo h1 {
    line-height: 85px;

}
.portfolio_nav {
    color: #2E2E48!important;
    font-size: 1.8em;
}

.logo img {
    height: 20px;
}

.nav-btn {
    display: none;
}

.menu_items {
    text-align: right;
}

.menu_items li {
    display: inline-block;
}

.menu_item {
    padding: 0 20px;
    font-weight: 500;
    color: #fff;
    position: relative;
}

.menu_items .menu_item::after {
    position: absolute;
    content: "";
    height: 12px;
    width: 50%;
    top: 0;
    left: calc(50% - 25%);
    z-index: -1;
    border-radius: 50px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.menu_items .menu_item.active::after {
    top: 34%;
    background: rgba(167, 107, 190, 0.20);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.menu_items li:last-child .menu_item {
    padding-right: 0;
}

.menu_items li:last-child .menu_item.active::after {
    left: calc(50% - 25% + 10px);
}

/* HEADER STYLE  end */

/* -- LANDING STYLE start */

.home_wrapper .landing_content,
.home_wrapper .landing_content .container,
.home_wrapper .landing_content .container .row {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
}

.no-bg-img {
    height: auto !important;
}

.no-bg-img .home_wrapper {
    height: auto;
    padding-top: 150px;
    padding-bottom: 40px;
}

.landing_content h1 {
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 70px;
    letter-spacing: -0.34px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: inline-block;
    color: #2E2E48;
}

.landing_content h4 {
    font-size: 40px;
    color: #516CF7;
    font-weight: 500;
    letter-spacing: 0.13px;
    background: linear-gradient(90deg, #516CF7 0%, #FF559B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    animation: fadeIn 6s;
}

.landing_content h5 {
    color: #47516B;
}
.vegas-transition-fade-in, .vegas-transition-fade2-in {
    opacity: 0.15!important;
}

/* LANDING STYLE end */

/* -- SOCIAL LINKS STYLE start */

.social_links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    margin-top: 5px;
}

.social_links li {
    display: inline-block;
    font-weight: 600;
}

.social_links li a {
    display: inline-block;
    padding: 0 12px;
    font-size: 2.2em;
    color: #2E2E48;
}

.social_links li:first-child a {
    padding-left: 0;
}

.social_links li a:hover {
    color: #516CF7;
}

.social_links li a:hover span {
    display: inline-block;
    transform: rotateY(720deg) rotateZ(-20deg);
    -webkit-transform: rotateY(720deg) rotateZ(-20deg);
    -moz-transform: rotateY(720deg) rotateZ(-20deg);
    -ms-transform: rotateY(720deg) rotateZ(-20deg);
    -o-transform: rotateY(720deg) rotateZ(-20deg);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

/* SOCIAL LINKS STYLE end */

/* ==========================================================================
   05. ABOUT WRAPPER
========================================================================== */

.about_wrapper {
    background-color: #F6F9FC;
    padding: 100px 0;
    color: #47516B;
    border-radius: 8px;
}

.about_img {	
	width: 100%;
	height: 370px;
	margin: auto 0px;
    animation: change-bg 14s cubic-bezier(0.4, 0, 1, 1) forwards infinite;
    background-size: contain;
    background-repeat: no-repeat;

}
@keyframes change-bg {
    0%, 100%  { background-image: url(https://dari04.github.io/img/about_photo_1.svg); }
    25% { background-image: url(https://dari04.github.io/img/about_photo_1.svg); }
    50% { background-image: url(https://dari04.github.io/img/about_photo_2.svg); }
    80% { background-image: url(https://dari04.github.io/img/about_photo_2.svg); }
  }

.about_info .social_links {
    display: inline-block;
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

.about_info h4 {
    font-size: 30px;
    background: linear-gradient(90deg, #516CF7 0%, #FF559B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.13px;
    margin-bottom:8px;
}

.about_info p.about_desc {
    line-height: 1.8;
    font-size: 17px;
}

.about_info p.about_desc span {
    font-weight: 600;
    font-size: 18px;
}

.zigzag {
    margin: 25px 0;
    transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
}
/* ==========================================================================
   06. SERVICE WRAPPER
========================================================================== */

.tools {
    padding: 100px 0;
}



.skill_single_item {
    padding: 28px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #F7F9FC;
    border-radius: 8px;
}

.skill_single_item i {
    display: block;
    font-size: 35px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    color: #2E2E48;
}

.skill_single_item i::after {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    border-radius: 52% 48% 23% 77% / 44% 68% 32% 56% ;
    -webkit-border-radius: 52% 48% 23% 77% / 44% 68% 32% 56% ;
    -moz-border-radius: 52% 48% 23% 77% / 44% 68% 32% 56% ;
    -ms-border-radius: 52% 48% 23% 77% / 44% 68% 32% 56% ;
    -o-border-radius: 52% 48% 23% 77% / 44% 68% 32% 56% ;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.skill_single_item:hover i::after {
    left: -5px;
    top: -15px;
    transform: scale(5) rotate(35deg);
    -webkit-transform: scale(5) rotate(35deg);
    -moz-transform: scale(5) rotate(35deg);
    -ms-transform: scale(5) rotate(35deg);
    -o-transform: scale(5) rotate(35deg);
}

.skill_single_item h6 {
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    color:#2E2E48;
    font-weight: 400;
}

.skill_single_item h6::after {
    position: absolute;
    content: attr(data-hover);
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: 0.7;
    -webkit-transition: 0.7s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
    color: #9251F7;
}
.skill_single_item.item_style2 h6::after {
    color: #516CF7;
}
.skill_single_item.item_style3 h6::after {
    color: #5531A7;
}

.skill_single_item:hover h6::after {
    width: 100%;
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.skill_single_item p, .skill_single_item li {
    font-size: 15px;
}
.skill_single_item li small  {
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
}

/* ==========================================================================
   07. WORKS WRAPPER
========================================================================== */

.work_wrapper {
    background-color: #F6F9FC;
    padding: 100px 0;
    text-align: center;
    border-radius: 8px;
}
.work_single_item > .img-fluid {
    max-height: 170px;
    object-fit: cover;
    width: 100%;
}
.filter-buttons {
    text-align: center;
    margin-bottom: 50px;
}

.filter-buttons button {
    border: 0;
    background: transparent;
    color: #2E2E48;
    font-weight: 500;
    padding: 0 15px;
    cursor: pointer;
    outline: 0;
}

.filter-buttons button.active {
    color: #9251F7;
    cursor: default;
    font-weight: 600;
}

.work_single_item {
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
}

.work_info {
    background-color: #fff;
    padding: 20px;
    padding-left: 40px;
    margin-left: 22px;
    text-align: left;
    position: relative;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.work_info button {
    font-size: 24px;
    color: #fff!important;
    position: absolute;
    height: 44px;
    width: 44px;
    background: #2E2E48;
    line-height: 33px;
    text-align: center;
    left: -22px;
    top: 50%;
    margin-top: -22px;
    z-index: 1;
    border: none;
    border-radius: 8px;
}

.work_info button:hover {
    color: #2E2E48!important;
}

.work_info button::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    background-color: #F6F9FC;
    top: 0;
    right: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    z-index: -1;
    border-radius: 6px;
}

.work_info button:Hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.work_info h6 {
    font-weight: 600;
    font-size: 17px;
    color:#ff0069;
    background: linear-gradient(90deg, #516CF7 0%,#516CF7 0%, #FF559B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.work_info p {
    font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
    position: relative;
    padding-left: 30px;
    color: #2E2E48;
}

.work_info p::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 20px;
    top: 49%;
    left: 0;
    background-color: #2E2E48;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.modal {
    background: rgba(0, 0, 0, 0.6);
}
.work-popup .modal-content{
    background-color: #fff!important;
    padding: 24px;
    border-radius: 8px;
}

.work-popup .modal-content .close{
    right: 20px;
    position: absolute;
    top: 20px;
    color: #2E2E48!important;
    font-weight: 800;
    opacity: 1;
}

.work-popup {
    width: auto;
    max-width: 1000px;
    margin: 2em auto;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transition-delay: .2s;
    box-shadow: 0 0 25px #2E2E48;
    border-radius: 8px;
}




.work-popup .work-info h4 {
    font-size: 35px;
    font-weight: 600;
    color: #2E2E48;
}

.work-popup .work-info p {
    margin-top: 15px;
    color: #2E2E48;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.work-info-card {
    margin-bottom: 30px;
}

.work-info-card h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 3px;
}

.work-info-card p,
.work-info-card p a {
    color: #888;
    position: relative;
    display: inline-block;
}

.work-info-card p a:hover {
    color: #fff;
}

.work-info-card a::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    z-index: -1;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.work-info-card a:hover::after {
    width: 100%;
    right: auto;
    background-color: #fff;
    left: 0;
}



.work-details h4 {
    margin-bottom: 30px;
    font-weight: 600;
}

.work-image {
    margin-top: 30px;
}



/* ==========================================================================
   10. HABILITIES WRAPPER
========================================================================== */

.skills_wrapper{
    padding: 100px 0;
    border-radius: 8px;

}


.counter i {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: right;
    overflow: hidden;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border-radius: 16px;
}
.icon-tool{
    mix-blend-mode: multiply;
    width: 100%;
    object-fit: contain;
    border-radius: 16px;
}

.counter .col-md-3:hover i {
    background-color: #fbfaff;
}

.counter i::after {
    position: absolute;
    content: "";
    top: -90px;
    right: -80px;
    height: 100%;
    width: 100%;
    background-color: #fbfaff;
    z-index: -1;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.counter .row-between > div:hover i::after {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-transform: rotate(0deg);
}

.counter span {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #2E2E48;
}

.counter h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

/* ==========================================================================
   09. TESTIMONIAL WRAPPER
========================================================================== */

.testimonials {
    padding: 100px 0;
    background-color: #111;
    border-radius: 8px;
}

.testimonial_single_item {
    text-align: center;
}

.testimonial_single_item img {
    height: 80px !important;
    width: 80px !important;
    border: 2px solid #fff;
    padding: 2px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 63% 37% 30% 70% / 50% 45% 55% 50% ;
    -webkit-border-radius: 63% 37% 30% 70% / 50% 45% 55% 50% ;
    -moz-border-radius: 63% 37% 30% 70% / 50% 45% 55% 50% ;
    -ms-border-radius: 63% 37% 30% 70% / 50% 45% 55% 50% ;
    -o-border-radius: 63% 37% 30% 70% / 50% 45% 55% 50% ;
}

.testimonial_single_item h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 4px;
}

.testimonial_single_item p {
    margin-bottom: 30px;
    color: #ccc;
    line-height: 190%;
}

.testimonial_slider {
    padding-bottom: 50px;
}

.testimonial_slider .owl-dots {
    position: absolute;
    bottom: -3px;
    width: 100%;
    text-align: center;
}

.testimonial_slider .owl-dots .owl-dot {
    background: rgba(255, 255, 255, 0.5) !important;
    height: 13px !important;
    width: 13px !important;
    outline: 0;
    border-radius: 30px;
    border: 2px solid #fff;
    margin: 0 7px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.testimonial_slider .owl-dots .owl-dot.active {
    border: 2px solid #9251F7;
    background: #9251F7 !important;
    width: 33px !important;
}


/* ==========================================================================
   11. CONTACT WRAPPER
========================================================================== */

.contact_wrapper {
    margin-bottom: 100px;
    background-color: #F6F9FC;
    padding: 100px 0;
    text-align: center;
    border-radius: 8px;
}
.contact_item {
    color: #b7b7b7;
    text-align: center;
}

.contact_item h5 {
    color: #fff;
    margin-bottom: 3px;
    font-size: 16px;
}
.contact_item a{
    color: #516CF7!important;
}
.circle_list{
    color: #9251F7;
    font-size: 0.8em;
}
.item_style2 .circle_list{
    color: #516CF7;
}
.item_style3 .circle_list{
    color: #5531A7;
}

.input_field {
    width: 100%;
    background-color: transparent;
    color: #fff;
    margin-bottom: 30px;
    padding: 8px 12px;
    border: 0;
    border: 1px solid #888;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.input_field:focus {
    border: 1px solid #9251F7;
}

textarea.input_field {
    resize: none;
    height: 120px;
}

button.button {
    outline: 0;
    margin-top: 0;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

/* -- FORM Validation style start */

.error {
    color: #da321e;
    margin-bottom: 30px;
}

.success {
    color: #14ba3a;
    margin-bottom: 30px;
}

.inputEmpty {
    border-color: #da321e;
}

.inputNotEmpty {
    border-color: #fff;
}

.inputEmpty::-webkit-input-placeholder {
    color: #da321e;
    opacity: 1;
}

.inputEmpty::-moz-placeholder {
    color: #da321e;
    opacity: 1;
}

.inputEmpty:-ms-input-placeholder {
    color: #da321e;
    opacity: 1;
}

.inputEmpty:-moz-placeholder {
    color: #da321e;
    opacity: 1;
}

/* FORM Validation style end */

/* ==========================================================================
   12. FOOTER WRAPPER
========================================================================== */

footer {
    background-color: #F6F9FC;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    text-align: center;
    padding: 80px 15px;
}

.go_top {
    position: absolute;
    color: #fff;
    font-size: 30px;
    height: 80px;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    line-height: 80px;
    background: #516CF7;
    text-align: center;
    z-index: 9;
    top: -40px;
    border-radius: 50px;
}

.go_top:hover {
    background:#9251f7;
    color: #fff;
    line-height: 70px;
}

footer .social_links {
    margin-bottom: 35px;
    margin-top: 10px;
}

footer p {
    color: #79819A;
}

footer p span {
    color: #2E2E48;
}
.kenburns-slideshow .vegas-slide-inner{
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: contain!important;
    opacity: 0.1;
}

.line-heart{
    color: #9251F7;
    font-weight: bold;
}


.box-chats {
    color: #fff;
    font-family: sans-serif;
    padding: 10px 10px 5px;
    position: fixed;
    bottom: 1%;
    display: block;
    right: 1%;
    z-index: 60
}

.chat_circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    padding: 8px 11px;
    transition: 1s all ease;}
.chat_circle img{
    max-width: 100%;
}
.chat_circle.resume {
    height: fit-content;
    border-radius: 50px;
    padding: 16px 2px;
}
.chat_circle.linkedin img {
    width: 85%;
}
.resume {
    background-color: #516CF7;
}

.resume:hover {
    background-color: #9251f7;
}
.linkedin {
    background-color: #1766c2;
}

.linkedin:hover {
    background-color: #0951a4;
}

.whatsapp {
    background-color: #4dc247;
}

.whatsapp:hover {
    background-color: #13bb38;
}

.contact_box {
    margin-bottom: 60px;
}

.messenger-icon_btn {
    vertical-align: middle;
    width: 3%;
    position: relative;
    top: -2px;
}

.whatsapp-icon_btn {
    vertical-align: middle;
    width: 3%;
    position: relative;
    top: -2px;
}


.portfolio_slideshow, .portfolio_home_wrapper{
    height: 85px!important;
}
.portfolio_slideshow .vegas-slide-inner{
   background-position: center 439%!important;
}
.portfolio_work_wrapper{
        margin-top: 10px;
        margin-bottom: 100px;
}

.row-between{
    justify-content: space-between;
}


.animFadeIn{
    animation: fadeIn 10s;

}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.showMob{
    display: none;
}

#google_translate_element .goog-te-gadget > *:not(div) {
    display: none;
}

.goog-te-gadget {
    font-size: 0px!important;
    color: transparent!important;
}

.goog-te-gadget .goog-te-combo {
    margin: 0;
}
